:root {
  --width: var(--settings-size-width)px;
  --height: var(--settings-size-height)px;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
}

body {
  background-color: var(--content-bgcolor);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--width);
  height: var(--height);
}

.border {
  border: 1px solid #000000;

}

.banner {
  position: relative;
  overflow: hidden;
  width: var(--width);
  height: var(--height);
}

.content {
  opacity:1;
}



.mainExit {
  cursor: pointer;
}

.video1 {
  opacity: 1;
}

.ball {
  position: absolute;
  bottom: 591px;
  left: 122px;
  width: 98px;
  height: 98px;
  background-color: red;
  border: 4px solid black;
  border-radius: 50%;
  opacity: 0.5;
  transform-origin: center center;
}

.button_switch {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 30px;
  font-size: 12px;
  background-color: green;
  font-weight: bold;
}

.button_switch_copy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  cursor: pointer;
}

.hideVideo {
.video1 {
    opacity: 0;
  }
}
